<h1>Регистрация нового пользователя.</h1>
<%= form_for @user do |f| %>
    <p>Имя:<br/> <%= f.text_field :name %></p>
    <p>Email:<br/> <%= f.text_field :email %></p>
    <p>Пароль:<br/> <%= f.text_field :password %></p>
    <p>Подтверждение пароля:<br/> <%= f.text_field :password_confirmation %></p>
    <%= f.submit "Зарегистрироваться!" %>
<% end %>
